@tailwind base;
@tailwind components;
@tailwind utilities;

/* font imports by file */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Button 1 */
.btn-outline {
  display: inline-block;
  padding: 8px 22px;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: 1.5px solid #121212;
  border-radius: 5px;
  color: #121212;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-outline:hover {
  background-color: #121212;
  color: #fff;
}

.opposite-button {
  display: inline-block;
  padding: 15px 40px;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: 1px solid #121212;
  border-radius: 8px;
  color: #fff;
  background-color: #121212;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.opposite-button:hover {
  background-color: #fff;
  color: #121212;
}

.thin-button {
  display: inline-block;
  padding: 5px 22px;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: 1px solid #121212;
  border-radius: 8px;
  color: #fff;
  background-color: #121212;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .thin-button {
    font-size: 16px;
    padding: 8px 18px;
  }
}

@media screen and (max-width: 480px) {
  .thin-button {
    font-size: 14px;
    padding: 6px 16px;
  }
}

@media screen and (max-width: 768px) {
  .opposite-button {
    font-size: 16px;
    padding: 8px 18px;
  }
}

@media screen and (max-width: 480px) {
  .opposite-button {
    font-size: 14px;
    padding: 6px 16px;
  }
}
