@tailwind base;
@tailwind components;
@tailwind utilities;

/* font imports by file */

@font-face {
  font-family: "Poppins";
  src: url("/public/Font/Poppins-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

/* Button 1 */
.btn-outline {
  display: inline-block;
  padding: 8px 22px;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: 1.5px solid #121212;
  border-radius: 5px;
  color: #121212;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-outline:hover {
  background-color: #121212;
  color: #fff;
}

.opposite-button {
  display: inline-block;
  padding: 15px 40px;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: 1px solid #121212;
  border-radius: 8px;
  color: #fff;
  background-color: #121212;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.opposite-button:hover {
  background-color: #fff;
  color: #121212;
}

.arrow-button {
  gap: 10px;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  position: relative;
}

.arrow-button:hover {
  color: #121212;
  transform: color 0.3s ease;
}

.arrow-button:disabled {
  color: #a0aec0;
  cursor: not-allowed;
}

.arrow-button::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  margin-bottom: 4px;
  width: 100%;
  height: 1px;
  background-color: #121212;
  visibility: hidden;
  transform: scaleX(0);
  transition: visibility 0s, transform 0.3s ease;
}

.arrow-button:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
